
<!-- Card -->
<div class="card-background">
  <div class="card-body mt-5 d-flex justify-content-center p-3 text-center text-white font-weight-bold">
    <p>
      MobileHub is a comprehensive mobile shopping application designed to provide users with a wide range of stylish
      and functional smartphones.
      From the latest flagship models to budget-friendly options, MobileHub aims to cater to all your mobile device
      needs. MobileHub boasts an
      extensive collection of smartphones, carefully curated to cater to diverse preferences and requirements. From
      classic designs to the latest trends,
      there's something for everyone. The purpose of MobileHub is to offer a user-friendly platform where customers can
      browse, select, and purchase mobile
      products conveniently from the comfort of their homes. MobileHub allows users to leave reviews and ratings for
      products they've purchased, providing
      valuable feedback for other shoppers. Users can easily access and explore all reviews for products on the
      MobileHub platform, allowing them to make
      informed purchasing decisions based on the experiences of other customers.
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" class="btn-contact" (click)="contactus()">Contact Now</button>
  </div>
</div>


<!-- Video -->
<!-- <div class="container mt-5 p-3">
  <video src="assets/firstCarausel/1600x864vd11.webm" height="360" width="1080" controls autoplay loop></video>
</div> -->
<div class="container-pic mt-2 ms-auto p-3 W-200">
  <img src="../../assets/firstCarausel/DM1-web-5.jpg" class="img-fluid" alt="phone pics" height="360" width="1400">
</div>
<div class="container-pic mt-2 ms-auto p-3 W-200">
  <img src="../../assets/firstCarausel/1D.jpg" class="img-fluid" alt="phone pics" height="360" width="1400">
</div>



<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">Mobiles</a></li>
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Accessories</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2 style="color: white;">Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links" style="color: white;">
                        <li class="address1" style="color: white;"><i class="fa-solid fa-location-dot"></i>
                          Plot No. EL-200, TTC Electronic Zone Shil Phata - Mahape Road Kopar Khairane, MIDC Industrial Area, Mahape, Navi Mumbai, Maharashtra 400710             </li>                           
                          <br><br>
                          <i class="fa-solid fa-phone"></i>Phone: 1800-3243242
                          <i class="fa-solid fa-envelope"></i>Contact Us: www.mobilehub24x7.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>