@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
p{
    font-family: 'Lexend Deca',sans-serif;
}
.card {
    color:black;
    margin:auto;
    /* background-image: "angularapp/src/assets/firstCarausel/bg4.jpg"; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Full viewport height */
    font-family: "Urbanist",sans-serif;
    align-items: center;
}
.container-pic{
    
}
.card-body {    
    background-color:rgba(0, 0, 0, 0.56);
    /* margin-top: 50px;
    margin-left: 230px; */
    margin: auto;
    height:50vh;
    width: 140vh; /* Adjust as needed */
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 2px solid #4a4a4a;
    border-radius: 10px;
   
    /* box-shadow: 0 4px 8px rgba(43, 43, 43, 0.1); */
    
}
.card-background {
    background-image: url('../../assets/firstCarausel/myback.jpg');
    background-size: cover;
    background-position:center;
    padding: 20px;
    height: 92vh;
}
.card {
    background-color: rgba(5, 5, 5, 0.649); 
    text-align: center;
    justify-content: center;
    opacity: 0.5;
}
/* button  */
.btn-contact {
    background: linear-gradient(to right, #32a852d3, #56c596); /* Gradient from darker green to lighter green */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(180, 180, 180, 0.1);
}

.btn-contact:hover {
    background: linear-gradient(to right, rgb(31, 246, 157), #32a852); /* Reverse gradient on hover */
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	/* max-width: 1170px; */
	/* margin:auto; */
}
h2{
    color: white;
    text-align: center;
    font-weight: 300;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
    background: linear-gradient(60deg, #0f0c29, #302b63, #24243e);

    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
