body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    background-color: #fff;
    display:block;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

div {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn {
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s ease;
}

.submit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
    background-color: #218838;
}

.cancel-btn {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #c82333;
}
