<div class="navbar">
    <div class="navheader">
        <img src="../../assets/Navbar Logo.png" alt="Logo">
        <div>
            <!-- <h4 style="color: aliceblue;">MOBILE</h4>
            <h4 style="color: aliceblue;">HUB</h4> -->
        </div>
    </div>
    <ul>
        <div class="linkslogo">
            <li>
                <img src="../../assets/homelogo.png" alt="">
                <a routerLink="/home">Home</a>
            </li>
        </div>
        <div class="linkslogo">
            <li >
                <img src="../../assets/reglogo.png" alt="">
                <a routerLink="/registration">Register</a>
            </li>
            
        </div>
        <div class="linkslogo">
            <li >
                <img src="../../assets/login logo.png" alt="">
                <a routerLink="/login">Login</a>
            </li>
        </div>
    </ul>
    
</div>
<!-- <li *ngIf="role==='Admin'"><a routerLink="">Mobiles</a></li>
<li *ngIf="role==='Admin'"><a routerLink="">Add Mobiles</a></li>
<li *ngIf="role==='Admin'"><a routerLink="">View Orders</a></li>
<li *ngIf="role==='Admin'"><a routerLink="">View Review</a></li>

<li *ngIf="role==='Customer'"><a routerLink="">Mobiles</a></li>
<li *ngIf="role==='Customer'"><a routerLink="">My cart</a></li>
<li *ngIf="role==='Customer'"><a routerLink="">My Orders</a></li>
<li *ngIf="role==='Customer'"><a routerLink="">Reviews</a></li>
<li *ngIf="role"><a routerLink="">Logout</a></li> -->