<div class="container" style="margin-top: 5rem;">
    <h2>Review Page</h2>
    <table id="review">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Customer Name</th>
          <th>Mobile Model</th>
          <th>Feedback Comments</th>
          <th>Rating</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let review of reviews"  class="zoom-element">
          <td>{{ review.reviewId }}</td>
          <td>{{ review.customer.customerName }}</td>
          <td>{{ review.subject }}</td>
          <td>{{ review.body }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.dateCreated | date:'medium'}}</td>
        </tr>
      
      </tbody>
    </table>
    </div>
    